p, ol {
    font-size: 16px;
    line-height: 1.5;
    font-weight: bold;
}

li {
    margin-bottom: 10px;
}

h1 {
    text-transform: uppercase;
    text-align: center;
}

h2, hr {
    text-transform: uppercase;
    color: #4774b7;
    font-size: 24px;
    text-align: center;
}

.logo {
    display: block;
    margin: 0 auto;
    width: 30%;
}
.lightBox {
    border: 3px solid #4774b7;
    padding: 2% 10%;
    margin: 20px auto;
    width: 30%;
    background: white;
    color: black;
}
.darkBox{
    border: 3px solid #4774b7;
    padding: 2% 10%;
    margin: 20px auto;
    width: 30%;
    background: #333333;
    color: white;
}
.dark{
    background: #333333 ;
    color: white;
}
.light{
    background: white ;
    color: black;
}